/* define some global helpers */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/* small responsive fixes */
@media (max-width: 1366px) {
    .l-2cr-responsive {
    }

    .l-2cr-responsive.l-2cr-fluid div.c-1, .l-2cr-responsive.l-2cr-fluid div.c-2{
	margin:0px !important;
	padding: 0px !important;
    }

    .l-2cr-fluid.l-2cr-responsive .c-1 {
	width:100% !important;
        float: none !important;
        display:block !important;
        margin: 0px !important;
        padding: 0 !important;
    }
    .l-2cr-fluid.l-2cr-responsive .c-2 {
	width:100% !important;
        float: none !important;
        display:block !important;
        margin: 0px !important;
        padding: 0 !important;
    }

    /* Minimize menu buttons and dropdowns on smaller screens */
    header#grp-header #grp-navigation ul#grp-user-tools > li.grp-user-options-container {
	width: 150px !important;
    }
    header#grp-header #grp-navigation ul li.grp-collapse.grp-open > ul {
	width: auto !important;
	max-width: 250px !important;
    }

}


/* hack the header toolbar so when too many menu entries expand the height, the acutal content is not overlapped */
body > #grp-container > header {
    position: relative;
}
body > #grp-container > article {
    top: 40px;
}

/* fix dropdowns overlapping the menu items */
header#grp-header #grp-navigation ul li.grp-collapse {
  position: relative;
}


/* show ellipsis on overflow in dropdown */
header#grp-header #grp-navigation ul#grp-user-tools > li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* align the last menu dropdown to the right screen edge */
header#grp-header #grp-navigation ul#grp-user-tools:last-child > li.grp-user-options-container:last-child > ul.grp-user-options {
    right: 0;
}

/* dropdown level3 display */
header#grp-header #grp-navigation ul.nav-ul-level3 {
    position: absolute !important;
    top: 0;
    left: auto;
    right: -100%;
}

.rotate{
    -moz-transform: rotate(-90deg);                 /*FF*/
    -o-transform: rotate(-90deg);                   /*Opera*/
    -webkit-transform: rotate(-90deg);              /*Safari, Chrome*/
    -ms-transform: rotate(-90deg) !important;       /*IE9*/
    transform: rotate(-90deg);                      /*CSS3 default*/
    background-color:transparent;
    zoom: 1;
    z-index:1;
    width: 191px;
    position: absolute;
    padding: 45px 10px 15px 10px;
}





/* Package Graph */

.iobject-graph .graph_label {
    font-weight: bold;
    margin-left: 0px;
}

.iobject-graph .graph-mode-selector .graph-mode-button {
    text-shadow: none;
    font-size: 11px !important;
    font-weight:400 !important;
    height: 18px !important;
    margin: 0 2px !important;
    padding: 0 5px !important;
}

.iobject-graph-canvas {
    min-height: 400px;
    overflow: hidden;
    background-color: white;
}

.iobject-graph-canvas .node {
    cursor: pointer;
}
.iobject-graph-canvas .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.iobject-graph-canvas .node text {
    font: 10px sans-serif;
}
.iobject-graph-canvas .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.iobject-graph-canvas #end {
    fill: #888;
}

.iobject-graph-canvas .toggle-hover {
  pointer-events: none;
}

.iobject-graph-canvas div.details-box {
	display: none;
	position: absolute;
	color: white;
	font-size: 14px;
	background: rgba(0,0,0,0.5);
	padding: 5px 10px 5px 10px;
	margin: 3px;
	-moz-border-radius: 8px 8px;
	border-radius: 8px 8px;
}

.iobject-graph-canvas div.details-box .ui-icon {
    cursor: pointer;
}

.iobject-graph-canvas div.details-box table, .iobject-graph-canvas div.details-box td {
    padding: 0px;
    border: 0 none;
}

.iobject-graph-canvas div.details-box .title{
    margin-bottom: 5px;
}

.iobject-graph-canvas div.details-box .desc{
    margin-left: 10px;
}

.iobject-graph-canvas div.details-box .desc td:first-child{
    padding-right: 3px;
}



/* Custom Info Object Search */
form#query-executor #id_query {
    width: 100% !important;
    resize: vertical;
    min-height: 100px;
}


/* Fix the left column overflow, because overlapping leads to an unusable sidebar  */
div.c-2 > .grp-module, div.c-2 .grp-module.grp-changelist-results {
    overflow: auto;
    /* commented out because overflow:auto leads to an unusable choice list for tagging */
    /* TODO solve conflict */
}

/**Fix grappelli iobject link image not to break**/
.grp-collapse.grp-closed > .grp-collapse-handler .stay-inline {
    display: inline !important;
}


/* tagging */
#tags input {
    display: block;
    margin: 0 auto;
}

.tag {
    display: inline-block;
    border: #AAA 1px solid;
    border-radius: 3px;
    background-color: #CCEBFF;
}

.tag:last-of-type {
    margin-left: 0;
}

.tag-block .tag {
    margin-right: 10px;
    padding: 5px;
}

.tag-row .tag {
    margin-top: 10px;
    padding: 3px;
}

.w-1 {
    width: 1px;
}

.middle {
    vertical-align: middle;
}

table {
    width: 100%;
}

.remove_tag_button {
    cursor: pointer;
}

.ui-button.ui-button-text-only {
    width: 100px;
}

/* main menu styling */
#grp-navigation {
    border-bottom: 1px solid #000;
}

#mantis_top_menu > ul {
    height: 36px;
    border-left: 1px solid #090909;
}

#mantis_top_menu li {
    height: 36px;
}

#mantis_top_menu ul {
    float: right;
    font-weight: bold;
    overflow: visible;
    z-index: 1100;
}

#mantis_top_menu ul ul {
    position: absolute;
    top: -999em;
}

#mantis_top_menu ul:first-child li {
    border-left: 1px solid #343434;
    border-right: 1px solid #090909;
}

#mantis_top_menu ul li {
    width: 200px;
    float: left;
    position: relative;
    border: none;
}

#mantis_top_menu ul li:hover > ul {
    position: relative;
    top: auto;
}

#mantis_top_menu ul li ul li:hover ul {
    position: relative;
    left: 200px;
    top: -18px;
}

/* fix 1px border below horizontal navi */
#grp-context-navigation {
    border: none;
}

/* BACKGROUND COLOR / IMAGE NAVI */
header#grp-header #grp-navigation, #mantis_top_menu ul li {
    background-image: linear-gradient(#333333,#222222);
}

/* Link Styling */
#mantis_top_menu ul li a, #mantis_context_menu ul li a {
    display: block;
    padding: 10px;
    color: #4FB2D3;
    cursor: pointer;
}

/* Link Styling on hover */
#mantis_top_menu ul li a:hover, #mantis_context_menu ul li a:hover {
    color: #FFFFFF;
}

/* Title (in Header) Styling */
#grp-admin-title {
    color: #FFFFFF;
}

/* inserts content before <a> tag element if there's a submenu under the current menu item */
.submenu:before {
    content: '+ ';
}

/* context menu styling */

/* styling of container element, set background color for second menu stripe here */
#context_menu_container {
    padding: 0 20px;
    position: relative;
    width: 100%;
    clear: both;
    box-sizing: border-box;
    height: 36px;
    background-image: linear-gradient(#222222,#610B0B);
}

/* style context menu title */
#context_menu_title {
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 10px 10px 10px 0;
    color: #FFFFFF;
}

#mantis_context_menu > ul {
    height: 36px;
    border-left: 1px solid #090909;
    float: left;
    font-weight: bold;
}

#mantis_context_menu li {
    height: 36px;
    border-left: 1px solid #343434;
    border-right: 1px solid #090909;
    width: 200px;
    float: left;
    position: relative;
}

#context_menu_container img {
    display: block;
    padding: 10px 10px 10px 0;
    float: left;
}


